<a href="https://colab.research.google.com/github/SaraZachi/BootCamp_Alura_2021/blob/main/Notebooks/Pyspark4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 69 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 45.2 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=fe4e3712b65dc046dd934000e96bc502d10bc97d979fb98ca6ba3584839a2cee
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
# Starting Pyspark session => setting up
spark=SparkSession.builder.appName('DataFrame').getOrCreate()
spark

In [ ]:
df_pyspark = spark.read.option('delimiter', ',').csv('/content/test4.csv', header=True, inferSchema=True)
df_pyspark.show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Chris| 30|        10| 30000|
|  Sam| 31|         8| 25000|
|  Dan| 29|         4| 20000|
|  Ana| 24|         3| 20000|
| Cloe| 21|         1| 15000|
| Carl| 23|         2| 18000|
+-----+---+----------+------+

**Filter Operation**

In [ ]:
# Setting a condition
## Salary of the people less than or equal to 20000
df_pyspark.filter('Salary<=20000').show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| Dan| 29|         4| 20000|
| Ana| 24|         3| 20000|
|Cloe| 21|         1| 15000|
|Carl| 23|         2| 18000|
+----+---+----------+------+

In [ ]:
# Setting a condition + selecting specific columns
df_pyspark.filter('salary<=20000').select(['Name', 'Age']).show()

+----+---+
|Name|Age|
+----+---+
| Dan| 29|
| Ana| 24|
|Cloe| 21|
|Carl| 23|
+----+---+

In [ ]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
| Dan| 29|         4| 20000|
| Ana| 24|         3| 20000|
|Cloe| 21|         1| 15000|
|Carl| 23|         2| 18000|
+----+---+----------+------+

In [ ]:
df_pyspark.filter((df_pyspark['Salary']<=20000) |
                  (df_pyspark['Salary']>=15000)).show()
                  #Obs.: | == &

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Chris| 30|        10| 30000|
|  Sam| 31|         8| 25000|
|  Dan| 29|         4| 20000|
|  Ana| 24|         3| 20000|
| Cloe| 21|         1| 15000|
| Carl| 23|         2| 18000|
+-----+---+----------+------+

In [ ]:
#Obs.: Adding '~' will give you the oposite of the described condition
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+-----+---+----------+------+
| Name|Age|Experience|Salary|
+-----+---+----------+------+
|Chris| 30|        10| 30000|
|  Sam| 31|         8| 25000|
+-----+---+----------+------+